#web-design-image,
#scratch-image,
#python-image {
  width: 100%;
  height: 8em;
  border-radius: 0.4em;
  background-color: yellow;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#web-design-image {
  background-image: url("../images/web.png");
}
#scratch-image {
  background-image: url("../images/scratch.png");
}
#python-image {
  background-image: url("../images/python.png");
}
